.btn-margin {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*50 이상의 조회수는 진하게 + 빨강*/
.over-fifty {
	color: #f89406;
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.header-upper {
	border-bottom: 5px solid #ddd;
	margin-bottom: 20px;
	font-size: 20pt;
}

.badge {
	background-color: #f89406 !important;
}

.label {
    color: #ffffff;
    background-color: #999999;
}