.btn-margin {
	margin-top: 20px;
	margin-bottom: 20px;
}

/*50 이상의 조회수는 진하게 + 빨강*/
.over-fifty {
	color: #f89406;
	font-weight: bold;
}

/* 가운데 정렬 */
.text-center {
	text-align: center !important;
}
/* 수직 중앙 정렬 */
.text-ver-center{
	vertical-align: middle !important;
}

/* 제목 밑에 회색 줄 긋기 */
.header-upper {
	border-bottom: 5px solid #ddd;
	margin-bottom: 20px;
	font-size: 20pt;
}

/* 배지 색 억지로 주황색 */
.badge {
	background-color: #f89406 !important;
}

.label {
	background-color: #999999;
}

.label-good {
	color: #006b78;
}

.label-bad {
	color: #f93;
}

.right-padding-minus {
	padding-right: 30px;
}

/*  */
.form-signin {
	max-width: 400px !important;
	margin: 0 auto;
}

.profile_size img {
	width: 72px;
	height: 72px;
}